@charset "utf-8";
/* CSS Document */
 *{margin:0px;padding:0px;}
 body{font-size:14px;font-family:microsoft yahei;}
 ul li{list-style:none;}
 img{border:none}
 .clear{clear:both;}
 .floatl{float:left;}
 .floatr{float:right;}
 a{color:black;text-decoration:none;}
 /* header*/
header{width:100%;margin:0 auto;}
.container{width:1000px;margin:0 auto;}
.logo{background:url(../images/logo.png) no-repeat;width:237px;height:86px;}
.search{height:35px;margin-top:-60px;width:450px}
select{width:60px;height:37px;border:1px solid #ccc;border-right:0px;}
.select_box{margin-left:2px;}
.search_box {border:1px solid #ccc;width:249px;height:35px;font-size:16px;text-align:center;border-left:0px;border-right:0px;margin-top:px;}
.search_btn{margin-right:64px;margin-top:0px;}
.search_btn1{background:url(../images/fabu.jpg) no-repeat center;width:75px;height:37px;border:0px;}
.header_title{width:100%;height:80px;background:#FDFDFD;box-shadow:1px 1px 2px 1px #ccc;}
nav{font-size:16px;font-weight:bold;line-height:85px;margin-left:200px;}
nav li{float:left;margin-right:60px;}
.login_btn{padding-left:100px;}
.reg_btn{padding-left:30px;}
.nav a:link{color:black;text-decoration:none;}
.nav a:hover{color:#C6E993;text-decoration:none;}
.header_btn a:link{color:black;text-decoration:none;}
.header_btn a:hover{color:#C6E993;text-decoration:none;}
  /*article*/
article{width:1000px;margin:30px auto;} 
.parts li{float:left;}
.part1,.part2,.part3,.part4{width:266px;height:60px;text-align:center;font-size:16px;font-weight:bold;line-height:60px;}
.part1{background:url(../images/green.png) no-repeat;position:relative;z-index:10000;color:#fff;}
.part2{background:url(../images/gray.png) no-repeat;position:relative;z-index:9999;color:##black;margin-left:-50px;}
.part3{background:url(../images/gray.png) no-repeat;position:relative;z-index:1000;color:##black;margin-left:-50px;}
.part4{background:url(../images/gray.png) no-repeat;position:relative;color:##black;margin-left:-50px;}
.num1,.num2,.num3,.num4{font-size:27px;margin-right:15px;color:#fff;}
.content{background:#F7F7F7;border:2px solid #D8D8D8;padding:50px;margin-top:30px;margin-bottom:30px;}
.left{float:left;}
.right{float:right;}
.right img{width:350px;}
.content dl{width:500px;}
.content dl dt,.content dl dd{float:left;margin-bottom:30px;}
.content dl dt{width:20%;}
.content dl dd{width:75%;}
.content input，.content textarea{width:70%;padding:5px;border:1px solid #ccc;}
.box{width:60px;height:30px;border:2px solid #ccc;margin-right:10px;display:inline-block;text-align:center;line-height:30px;}
.box a:link{color:black;text-decoration:none;}
.box:hover{background:#090;color:#fff;text-decoration:none;}
.box:link{color:;text-decoration:none;}
.content input,.content textatea{padding:5px;border:1px solid #ccc;width:70%;}
input[type="number"],input[type="submit"],input[type="reset"]{width:80px;}
input[type="checkbox"]{width:20px;}
.bottom-box{width:100%;margin:0 auto;}
.span0{margin-left:40%;color:#B4B4B4;font-size:14px;}
.span1{color:#A9E04F;font-size:14px;}
.button{width:25%;margin:0 auto;}
.button_gray {width:90px;height:45px;background:#8E8E90;text-align:center;line-height:45px;color:#fff;font-weight:bold;font-size:16px;border-radius:15px;float:left;margin-top:20px;}
.button_green {width:90px;height:45px;background:#9DDC2B;text-align:center;line-height:45px;color:#fff;font-weight:bold;font-size:16px;border-radius:15px;float:right;margin-top:20px;}
.button_green a:hover{color:black;}
.button_green a:link{color:#fff;}
.button_gray a:hover{color:black;}
.button_gray a:link{color:#fff;}
/*footer*/
iframe{width:100%;scrolling:no;}

